{% extends 'base/base.html'%}
{% load static %}
{% block content %}

<div class="card mb-3" style="max-width: 540px; margin:0px auto;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ category.picture.url }}" class="img-fluid rounded-start" alt="{{ category }}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ category.title }}</h5>
        <p class="card-text">{{ category.details }}</p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        <h4><a href="{{ category.get_subscribe_url }}">
          {% if subscribe %} Unsubscribe </a></h4>
          {% else %} Subscribe</a></h4>
          {% endif %}
      </div>
    </div>
  </div>
</div>


{% if subscribe %} 
  <div class="row row-cols-1 row-cols-md-3 g-4" style="margin: auto;">
  {% for post in related_posts %}
  <div class="col" >
    <div class="card"  style="height:390px;">
      
      <img src="{{ post.picture.url }}" class="card-img-top" alt="{{ post }}" style="height:200px; width:400px; margin: 20px auto;">
      <div class="card-body">
        <h5 class="card-title" style="text-align:center ;"><a href="{{post.get_post_url}}">{{ post.title }}</a></h5>
        <p class="card-text">
          <a href="{{post.get_post_url}}" class="read-more">Read more >></a>
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}


{% endblock %}