
.bigcontainer{
    padding-left: 33%;
    /* padding-top: 10%; */
    margin-top: 15px;
    justify-content: space-between;
}
h3{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
h3::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg , #71b7e6 ,#9b59b6 );
}
.container1 , .container2 , .container3 , .container4{
    max-width: 550px;
    width: 85%;
    height: 120px;
    background: #fff;
    margin-bottom: 15px;
    padding: 15px 10px;
    border-radius: 8px;
}
p{  
    margin: 5px 10px 10px 10px;
    color: rgb(111, 108, 108);
}
.btn{
    width: max-content;
    padding: 6px 10px;
    margin-bottom: 0;
    margin-right: 0;
    background: #9b59b6;
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    transition: all .3s ease-in;
  }
.btn:hover{
    background: transparent;
    color: #9b59b6;
    border: 2px solid #9b59b6;
}
aside{
    position: fixed;
    top: 0;
    left: 0;
    left: -50px;
    width: 50px;
    height: 1000px;
    padding: 10px;
    background: #171f36;
    color: white;
    transition: 0.5s;
}
a{
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}
.logo{
    height: 50px;
    margin: 0 0 50px 0;
    position: relative;
}
.menu-icon{
    position: absolute;
    right: -50px;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    font-size: 20px;
    padding: 1px 1px 35px 1px;
    /* background: royalblue; */
    text-align: center;
    cursor: pointer;
    margin-top: 50px;

}
.logo i{
    font-size: 28px;
    margin-right: 5px;
}
.logo .menu-icon{
    font-size: 30px;
    font-weight: 500;
    margin-left: 15px;
}
.bx-x{
    display: none;
}
.logo a{
    height: 100%;
}
.logo a span{
    width: 0;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0 20px;
    transition: 0.5s;
}
.side-menu li{
    list-style: none;
    overflow: hidden;
    border-radius: 10px;
    padding: 5px;
    margin: 20px auto;
    text-transform: capitalize;
    transition: 0.5s;
}
li a{
    position: relative;
    height: 30px;
}
li a i{
    margin-right: 20px;
    font-size: 20px;
    width: 25px;
    text-align: center;
}
li a span{
    width: 0;
    overflow: hidden;
    height: 25px;
    transition: 0.5s;
}
.bxs-chevron-right{
    position: absolute;
    right: 0;
    width: 0;
    transition: 0.5s;
    overflow: hidden;
}
.sub-menu{
    width: 80%;
    margin: 0 0 0 25px;
    overflow: hidden;
    max-height: 0;
    transition: 0.5s;

}
.sub-menu li{
    height: 25px;
    padding: 5px 10px;
    margin: 4px auto;
    font-size: 15px;
    font-weight: 200;
}
.sub-menu li a{
    position: initial;
    height: 100%;
    display: initial;
} 
aside.expand{
    width: 250px;
    left: 0;
}
aside.expand ~ section{
    margin: 50px 300px;
} 
aside.expand .logo a span{
    width: 150px;
}
aside.expand li a span{
    width: 105px;
}
aside.expand .bxs-chevron-right{
    width: 25px;
}
li.active{
    background: royalblue;
}
li.active .sub-menu{
    background: royalblue;
    max-height: 300px;
}
li.active a>.bxs-chevron-right{
    transform: rotate(90deg);
}
li.active{
    background: royalblue;
}
li.active .sub-menu{
    background: royalblue;
    max-height: 300px;
}