/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;

}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background:repeating-linear-gradient(135deg, hsla(264,0%,88%,0.03) 0px,
    hsla(264,0%,88%,0.03) 1px,transparent 1px, 
      transparent 12px),repeating-linear-gradient(45deg, hsla(264,0%,88%,0.03) 0px,
    hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),
      repeating-linear-gradient(67.5deg, hsla(264,0%,88%,0.03) 0px,
    hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(135deg,
    hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),
      repeating-linear-gradient(45deg, hsla(264,0%,88%,0.03) 0px,
    hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),
      repeating-linear-gradient(112.5deg, hsla(264,0%,88%,0.03) 0px,
    hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),
    repeating-linear-gradient(112.5deg, hsla(264,0%,88%,0.03) 0px,
    hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),
    repeating-linear-gradient(45deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,
    transparent 1px, transparent 12px),repeating-linear-gradient(22.5deg, hsla(264,0%,88%,0.03) 0px,
    hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(45deg, hsla(264,0%,88%,0.03) 0px,
    hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(22.5deg, hsla(264,0%,88%,0.03) 0px,
    hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(135deg, hsla(264,0%,88%,0.03) 0px,
    hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(157.5deg, hsla(264,0%,88%,0.03) 0px,
    hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(67.5deg, hsla(264,0%,88%,0.03) 0px,
    hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(67.5deg, hsla(264,0%,88%,0.03) 0px, 
    hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, rgb(51,47,160),rgb(109,209,215));
}
.container{
    max-width: 550px;
    width: 85%;
    height: 60%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 8px;

}
.container .title{
    font-size: 25px;
    font-weight: 500;
     margin-left: 225px; 
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: linear-gradient(135deg , #71b7e6 ,#9b59b6 );
}
.container form .user-details{
    display: inline-block;
    justify-content: space-between;
    margin: 20px 20px 20px 65px;
}
form .user-details .input-box{
    margin: 20px;
    width: 100%;
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    min-width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    padding-right: 100px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}
form .button{
    height: 45px;
    margin: 20px 0;
    padding-left: 30px;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    background: linear-gradient(135deg , #71b7e6 ,#9b59b6 ) ;
}
form .button input:hover{
    background: linear-gradient(-135deg , #71b7e6 ,#9b59b6 ) ;
}
@media (max-width: 584px) {
    .container{
        max-width: 600px;
    }
    form .user-details .input-box{
        margin: 20px;
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
} */

.curd input {
    margin: 10px;
}

.curd button {
    margin: '20px 0px';
    width: '100%';
}

.curd select {
    margin: 10px 10px;
}

.curd button {
    width: 100%;
}

.curd label {
    font-weight: bold;
    font-family: 'Changa', sans-serif;
     font-family: 'Edu QLD Beginner', cursive;
}
 h1 {
    font-family: 'Dangrek', cursive
} 
