{% extends 'base/base.html'%}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'account/css/vprofile.css' %}">

    <div class="title" style="text-align: center;"><h2>Users List</h2></div>

        
        <div class="col-md-7" style=" display:block; text-align: center; padding-left: 300px; width: 1200px;">
            <hr>
            
            <div class="card card-body" style="height: auto;">
                <table class="table table-sm">
                    
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Make Admin</th>
                        <th>Block User</th>
                    </tr>
                    {% for i in users %}
                    
                    {% if user.id != i.id %}    
                    <tr>
                        
                        <td> <a href="{{i.profile.get_profile_url}}">{{i.username}} </a></td>
                        <td> {{i.email}} </td>
                        {% if i.is_superuser %}    
                        <td> <u> Already_Admin </u> </td>
                        <td> <u> Not_Avaliable </u> </td>
                        {% else %}
                        <td><a class="btn btn btn-info" href="{% url 'be_admin' i.id %}"> Admin </a></td>
                        {% if i.is_active %}
                        <td><a class="btn btn btn-danger" href="{% url 'block_user' i.id %}"> Block </a></td>
                        {% else %}
                        <td><a class="btn btn btn-warning" href="{% url 'unblock_user' i.id %}"> Unblock </a></td>
                        {% endif %}
                        {% endif %}
                    </tr>
                    {% endif %}
                    
                    {% endfor %}

                    
                </table>
                
            </div>

        </div>

{% endblock %}
