{% extends 'base/base.html'%}

    {% block content %}
    <br>

    <div class="row">
        <div class="title" style="text-align: center;"><h1>Posts List</h1></div>
        <div class="col-md-7" style=" display:block; text-align: center; padding-left: 300px; width: 1200px;">
            
            <hr>
            
            <div class="card card-body" style="height: auto;">
                <a class="btn btn-primary  btn-sm btn-block" href="{% url 'CreatePost' %}">Add Post</a>

                <table class="table table-sm" style="overflow: scroll;">
                    
                    <tr>
                        <th>Title</th>
                        <th>Created At</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    {% for post in posts %}
                    
                    <tr>
                        <td> {{post.title}} </td>
                        <td> {{post.created_time}} </td>
                        <td><a class="btn btn btn-success" href="{% url 'post.show' post.id %}"> View </a></td>
                        <td><a class="btn btn btn-warning" href="{% url 'edit_post' post.id %}"> Edit </a></td>
                        <td><a class="btn btn btn-danger" href="{% url 'delete_post' post.id %}"> Delete </a></td>
                    </tr>
                    
                    {% endfor %}

                    
                </table>
                
            </div>

        </div>
    
    </div>
        

    {% endblock %}
</body>
</html>
