{% extends 'base/base.html'%}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'admn/css/manage.css' %}">
    <div class="bigcontainer">
        <div class="container1">
            <h3>User</h3>
            <p>here you can make user admin , block , unblock user</p>
            <div>
                <a href="{% url 'list_of_users' %}" class="btn">manage users</a>
            </div>  
        </div>
        <div class="container2">
            <h3>Categories</h3>
            <p>here you can add , access , edit & delete categories</p>
            <div>
                <a href="{% url 'categories.manage.list'%}" class="btn">manage categories</a>
            </div>  
        </div>
        <div class="container3">
            <h3>Posts</h3>
            <p>here you can add , access , edit & delete posts</p>
            <div>
                <a href="{% url 'list_of_posts' %}" class="btn">manage posts</a>
            </div>  
        </div>
        <div class="container4">
            <h3>Forbidden words</h3>
            <p>here you can add , access , edit & delete forbidden words</p>
            <div>
                <a href="{% url 'add_forbiddenword' %}" class="btn">manage forbidden words</a>
            </div>  
        </div>
    </div>

{% endblock %}
