{% extends 'base/base.html' %}

{% load crispy_forms_tags %}


{% block content %}

<div class="container" style="margin: 10px auto;">
    <div class="title">Login</div>
    <form method="post" enctype="multipart/form-data">
        
        {% csrf_token %}  

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Username</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
            </div>
            
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>

            <div class="button">   
                <input type="submit" value="Login">
            </div>
    </form> 
</div>


{% endblock %}