{% extends "base/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" href="{% static 'account/css/vprofile.css' %}">

<div class="container">
    <div class="title"><h2>User Profile</h2></div> 
    <div class="content-section">
        <div class="upper-container">
            <div class="image-container">
                <img src="{{ profile.picture.url }}" alt="">
            </div>

        </div>
        <div class="lower-container">
            
          <div>
            <h3>{{ profile.user }}</h3>
            <h4>{{ profile.user.email }}</h4>
          </div>

          <div>
            <p> {{profile.bio}} </p>
          </div>
       
          <div>
            {% if user.is_superuser and not profile.user.is_superuser %}
                {% if profile.user.is_active %}
                    <a type="button" class="btn" id="edit" href="{% url 'block_user' profile.user.id %}">block</a>
                {% else %}
                    <a type="button" class="btn" id="edit" href="{% url 'unblock_user' profile.user.id %}">unblock</a>
                {% endif %}
            {% endif %}
          </div>

        </div>
    </div>

    {% endblock content %}